// map styles

.main-map {
    position: relative;

    #sidebar {
        height: calc(100vh - 68px);
        width: 400px;
        max-width: 100vw;
        background: #fff;
        position: fixed;
        top: 68px;
        left: -400px;
        z-index: 999;
        transition: all 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

        @media screen and (max-width: $screen-xs) {
            width: 100vw;
            left: -100vw;
        }

        #sidebar-button {
            position: absolute;
            top: 0;
            right: -70px;
            width: 70px;
            height: 70px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            background: $primary-color;
            transition: all 0.15s ease-in-out,
                background-color 0.15s ease-in-out,
                border-color 0.15s ease-in-out,
                box-shadow 0.15s ease-in-out;

            &:hover {
                opacity: 1;
            }

            &:focus {
                outline-color: $primary-color;
            }

            .hamburger-inner,
            .hamburger-inner:after,
            .hamburger-inner:before {
                background: $lgrey;
            }
        }

        .is-active {
            right: 0 !important;
        }

        .sidebar-header {
            width: calc(100% - 70px);
            height: 70px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }

        .sidebar-content {
            max-height: calc(100% - 70px);
            overflow-y: scroll;
            overflow-x: hidden;

            &::-webkit-scrollbar {
                width: 10px;
            }

            /* Track */
            &::-webkit-scrollbar-track {
                background: $lgrey;
            }

            /* Handle */
            &::-webkit-scrollbar-thumb {
                background: $primary-color;
                border: 1px solid $white;
            }

            /* Handle on hover */
            &::-webkit-scrollbar-thumb:hover {
                background: $secondary-color;
            }

            .dog-elem {
                text-align: center;
                padding: 5px 0;
                border-bottom: 1px solid $lgrey;

                .name,
                .location {
                    margin: 0;
                }

                .dog-img {
                    max-height: 100px;
                }

                a {
                    color: $primary-color;
                }
            }
        }
    }

    .map-sidebar-active {
        left: 0 !important;
    }

    #map {
        max-width: 100%;
        height: calc(100vh - 128px - 68px);

        @media screen and (max-width: $screen-xs) {
            height: 100vh;
        }
    }
}