<section class="subheader container-fluid">
  <div class="row">
    <div class="col-md">
      <h3 class="title">{{pageTitle}}</h3>
    </div>
  </div>
</section>
<section class="text container">
  <div class="row">
    <div class="col-md text-column">
      <p>Strona ta powstała w dwóch celach:</p>
      <p>
        <ol>
          <li>W celach edukacyjnych. Dzięki temu projektowi rozwijam swoje umiejętności w programowaniu.</li>
          <li>Aby pomóc bezpańskim psom znaleźć dom, jeżeli choć jeden z psów znajdzie właściciela dzięki tej stronie, będę więcej niż szczęśliwy.</li>
        </ol>
      </p>
      <p>
        W Polsce jest ponad 90 schronisk dla bezdomnych zwierząt, większość z nich jest przepełniona. Znaczna część z mieszkających tam psów już nigdy nie zazna innego życia, niż tego w schroniskowym boksie. Mimo tego, ludzie nadal rozmnażąją psy bezmyślnie, nie sterylizują swoich zwierząt. Kupowanie psa pod choinkę, "na chwilę" nadal jest w Polsce czymś normalnym.
      </p>
      <p>
        Wiele z tych "prezentów" czy "wpadek" ląduje na ulicy, w lesie, lub kończy jeszcze gorzej, ale nie musi to tak wyglądać.
      </p>
      <p class="summary">Jeżeli to czytasz, to prawdopodobnie nie jest Ci to obojętne. Pamiętaj, każdy pies kocha tak samo, i potrzebuje tego samego.<br /><em>Nie kupuj, adoptuj!</em></p>
    </div>
  </div>
</section>
