<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" href="/">
		<img src="/images/logo.png" alt="logo">
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav justify-content-center mr-auto header-menu">
			{{#each menu}}
				<li class="nav-item"><a class="nav-link" href={{this.path}}>{{this.title}}</a></li>
			{{/each}}
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Schroniska</a>
				<div class="dropdown-menu">
					{{#each shelters}}<a class="dropdown-item" href={{this.path}}>{{this.title}}</a>
					{{/each}}
				</div>
			</li>
		</ul>
		<form class="form-inline my-2 my-lg-0 header-search" method="get" action="/search">
			<input class="form-control mr-sm-2" type="search" name="name" required placeholder="Szukaj psiaka...">
			<button class="btn my-2 my-sm-0" type="submit">Szukaj!</button>
		</form>
	</div>
</nav>
