<section class="hero">
  <div class="hero-copy">
    <h1>dogs4dopt</h1>
    <h3>Znajdź psa do adopcji w okolicy!</h3>
  </div>
</section>
<section class="home-main">
  <div class="dogs-random">
    {{#each dogs}}
    {{displayDogs}}
    {{/each}}
  </div>
</section>
