<section class="main main-map">
	<div id="sidebar">
		<div class="sidebar-content">

		</div>
<div id="sidebar-button" class="sidebar-button">

</div>
	</div>
	<div class="map-container" id="map">
	</div>
</section>
