<section class="main main-map">
	<div id="sidebar">
		<button class="hamburger sidebar-button hamburger--arrow" id="sidebar-button" type="button">
			<span class="hamburger-box">
				<span class="hamburger-inner"></span>
			</span>
		</button>
		<div class="sidebar-header">
			<h2>Wszystkie psy</h2>
		</div>
		<div class="sidebar-content">
			{{#each dogs}}
				{{listDogs}}
			{{/each}}
		</div>
	</div>
	<div class="map-container" id="map">
	</div>
</section>