<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
	<meta charset="utf-8">
	<title>{{pageTitle}}</title>
	<link rel="stylesheet" href="/css/styles.css">
</head>

<body>
	<header>
		<h1>{{pageTitle}}</h1>
	</header>
	<p>{{bodyContent}}</p>
	{{#each js}}
		<script src="/js/{{this}}"></script>
	{{/each}}
</body>

</html>
