<!DOCTYPE html>
<html lang="en" dir="ltr">
{{> head}}
<body>
	<div class="fixed-header">
		{{> header}}
	</div>
	<div class="content">
		{{> (lookup . 'pathToRender')}}
		{{> footer}}
	</div>
</body>

</html>
